apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-node
  namespace: hello
  labels:
    app.kubernetes.io/name: hello-node
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: hello-node
  template:
    metadata:
      labels:
        app.kubernetes.io/name: hello-node
    spec:
      containers:
        - name: hello-node
          image: ghcr.io/lucasaugusto-silva/hello-node:1
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: APP_NAME
              value: "Kubernetes"
            - name: PORT
              value: "3000"
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              cpu: 250m
              memory: 256Mi

